.navbtn {
    border: none;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease;
}

.navbtn:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

/* /-------------------------------------------- */
.linkcss {
    text-decoration: none;
    display: inline-block;
    padding: .5em;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.linkcss:before,
.linkcss:after {
    position: absolute;
    content: '';
    border-bottom: 3px solid #19376D;
    border-radius: 1em;
    bottom: .3em;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.linkcss:before {
    width: 1em;
    transform-origin: left;
}

.linkcss:after {
    width: 82%;
    left: 1em;
    transform: translateX(110%);
}

.linkcss:hover:before {
    transform: scaleX(0.3);
}

.linkcss:hover:after {
    transform: translateX(0);
}